/* ----------Google fonts added---------- */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* font-family: "Merriweather", serif; */

/* ----------Google fonts added---------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* font-family: "Inter", serif; */

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Merriweather", serif;
  border: 5px solid red;
}

/* ----------Banner section styles---------- */
.banner-container {
  border: 10px solid rgb(255, 0, 221);
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(../assets/images/banner.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

.banner-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.banner-content p {
  border: 2px solid rgb(0, 204, 255);
  font-size: 32px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 85%;
}

.banner-content h1 {
  border: 2px solid rgb(0, 255, 21);
  font-size: 72px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  opacity: 90%;
}

.banner-content h1 span {
  display: block;
  text-align: center;
}

/* ----------65% Discount section styles ---------- */
.discount {
  border: 10px solid red;
  width: 805px;
  height: 840px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

/* -----discount content styles----- */
.discount-content {
  border: 5px solid rgb(0, 4, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", serif;
}

.discount-content h1 {
  border: 5px solid rgb(12, 216, 199);
  font-size: 88px;
  font-weight: 700;
  color: rgb(255, 0, 0);
  margin-bottom: 48px;
}

.discount-content p {
  border: 5px solid rgb(216, 12, 199);
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 0, 0);
  margin-bottom: 16px;
}

.discount-content h3 {
  border: 5px solid rgb(216, 179, 12);
  font-size: 48px;
  font-weight: 700;
  color: rgb(7, 2, 17);
  margin-bottom: 48px;
}

/* -----discount image container styles----- */
.discount-image-container {
  max-width: 805px;
  min-height: 500px;
}

.discount-image-container img {
  width: 100%;
  height: 100%;
}

/* ----------party section styles---------- */
.party-container {
  border: 10px solid red;
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
}

/* -----left side content styles----- */
.left-side-content {
  border: 5px solid rgb(0, 247, 255);
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side-content h1 {
  border: 5px solid rgb(241, 108, 12);
  font-size: 64px;
  font-weight: 900;
  margin-left: 126px;
  color: rgb(255, 255, 255, 0.9);
}
.left-side-content p {
  border: 5px solid rgb(66, 218, 6);
  font-size: 18px;
  font-weight: 400;
  margin-left: 126px;
  margin-top: 24px;
  margin-bottom: 48px;
  color: rgb(255, 255, 255, 0.8);
}
.left-side-content span {
  border: 5px solid rgb(255, 9, 234);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 158px;
  color: rgb(255, 255, 255);
}

/* -----right side content styles----- */
.right-side-content {
  border: 10px solid rgb(255, 217, 0);
  width: 40%;
  height: 600px;
}
.right-side-content img {
  border: 5px solid rgb(8, 248, 196);
  width: 100%;
  height: 100%;
}

/* -----party section background image styles----- */
.party-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9)
    ),
    url(../assets/images/party.png);
}

/* ----------location section styles---------- */
.location {
  border: 10px solid rgb(60, 255, 0);
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-bottom: 120px;
  font-family: "Inter", serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}

.location span {
  color: rgb(255, 0, 0);
}

.location .first {
  border: 3px solid red;
  margin-bottom: 20px;
}
.location .second {
  border: 3px solid red;
  margin-bottom: 20px;
}
.location .third {
  border: 3px solid red;
  margin-bottom: 48px;
}

/* -----location section button styles----- */
.location button {
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", serif;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}

/* ----------celebration section styles---------- */
.celebration {
  border: 10px solid red;
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 120px;
}

/* -----left side celebration styles----- */
.left {
  border: 5px solid rgb(0, 17, 255);
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.left h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
  color: rgb(255, 0, 0);
  margin-bottom: 16px;
}
.left h3 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(7, 2, 17);
  margin-bottom: 22px;
}
.left p {
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}

/* -----middle side celebration styles----- */
.middle {
  border: 5px solid rgb(9, 255, 0);
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----right side celebration styles----- */
.right {
  border: 5px solid rgb(255, 0, 255);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 167px;
}
.right h3 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", serif;
  color: rgb(255, 0, 0);
  margin-bottom: 16px;
}
.right p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", serif;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 43px;
}

/* -----------50% Holidays Sale section styles---------- */
.holiday-container {
  border: 10px solid rgb(0, 255, 21);
  width: 1320px;
  height: 986.07px;
  margin: 0 auto;
  margin-bottom: 120px;
  position: relative;
}

/* -----50% holiday container text styles----- */
.holiday-text-container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}
.holiday-container h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", serif;
  color: rgb(7, 2, 17);
  margin-bottom: 16px;
}
.holiday-container h1 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holiday-container h1 span {
  color: rgb(255, 0, 0);
}
.holiday-container p {
  font-size: 20px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
}

/* -----Bottom solid color styles----- */
.solid-color {
  border: 10px solid rgb(40, 2, 255);
  width: 1320px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 76%;
}

/* -----gift box styles----- */
.gift-box {
  border: 10px solid rgb(210, 8, 250);
  width: 674.82px;
  height: 577.96px;
  margin-top: 64px;
  position: relative;
  z-index: 1;
  display: flex;
}

/* -----girl image styles----- */
.girl-container {
  border: 5px solid orange;
  width: 429px;
  height: 433px;
  position: relative;
  left: 27.7%;
  bottom: 3.5%;
}

/* -----50% discount image styles ----- */
.second-discount {
  border: 5px solid rgb(0, 255, 221);
  width: 305.69px;
  height: 305.69px;
  position: absolute;
  left: 50%;
  bottom: 30%;
  z-index: 1;
}
